name: Run Dependabot updates

on:
  schedule:
    - cron: '0 0 * * 1'
  workflow_dispatch:

permissions:
  contents: read
  pull-requests: write

jobs:
  dependabot:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v6

      - name: Run Dependabot
        uses: dependabot/dependabot-action@v4
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          directory: "/"
          package-ecosystem: "pip"

      - name: Run Dependabot for GitHub Actions
        uses: dependabot/dependabot-action@v4
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          directory: "/"
          package-ecosystem: "github-actions"
