name: pytest

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
            python-version: '3.13'
      - name: Install the testing framework pytest
        run: pip install playwright pytest pytest-asyncio
      - name: Run tests
        run: pytest